#         ___
#        /\_ \    __
#    __  \//\ \  /\_\     __      ____     __    ____
#  /'__`\  \ \ \ \/\ \  /'__`\   /',__\  /'__`\ /',__\
# /\ \L\.\_ \_\ \_\ \ \/\ \L\.\_/\__, `\/\  __//\__, `\
# \ \__/.\_\/\____\\ \_\ \__/.\_\/\____/\ \____\/\____/
#  \/__/\/_/\/____/ \/_/\/__/\/_/\/___/  \/____/\/___/
#

# Oh My Zsh
alias ze="vim ~/.zshrc"
alias zs="source ~/.zshrc"

# youtube-dl
alias dl="youtube-dl"
alias dl4="youtube-dl -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best'"
alias dly='dl4 -o "%(uploader)s - %(title)s (%(duration)ss) [%(resolution)s].%(ext)s"'
alias dlc="dly -i --download-archive archive.txt"

# transmission-remote
alias tm="transmission-remote"
alias tma="tm -a `xclip -o -sel clip`"

# exa
alias l="exa -lagh"
alias ll="exa -lgh"

# fswatch
alias watchd="fswatch -o ~/Downloads | xargs -n1 -I{} sort"
