#         ___
#        /\_ \    __
#    __  \//\ \  /\_\     __      ____     __    ____
#  /'__`\  \ \ \ \/\ \  /'__`\   /',__\  /'__`\ /',__\
# /\ \L\.\_ \_\ \_\ \ \/\ \L\.\_/\__, `\/\  __//\__, `\
# \ \__/.\_\/\____\\ \_\ \__/.\_\/\____/\ \____\/\____/
#  \/__/\/_/\/____/ \/_/\/__/\/_/\/___/  \/____/\/___/
#

# Oh My Zsh
alias ze="vim ~/.zshrc"
alias zs="source ~/.zshrc"

# Go to directory
alias gd="cd $HOME/Downloads"

# youtube-dl
alias dl="yt-dlp"
alias dl3="dl --extract-audio --audio-format mp3"
alias dl4="dl -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best'"
alias dly='dl4 -o "%(uploader)s - %(title)s (%(duration)ss) [%(resolution)s].%(ext)s"'
alias dlc="dly -i --download-archive archive.txt"
alias dlr='dl -o "$(ran).%(ext)s"'
alias dlk="dlr --cookies $HOME/Downloads/tiktok.com_cookies.txt"

# transmission-remote
alias tm="transmission-remote"

# exa
alias l="exa --icons --group-directories-first -lagh"
alias ll="exa --icons --group-directories-first -lgh"

# move with rsync
alias move="rsync -varzihuP --remove-source-files"

# mediainfo
alias mi="mediainfo"

# bat
# alias cat="batcat"

# mpv
alias mpv="/mnt/c/Program\ Files/mpv/mpv.exe"
